body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: mediumturquoise;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.outContain {
  width: 420px;
}
.input_todo:focus-visible {
  outline: none;
}
.titleTodo {
  font-size: 54px;
}

.todo_list {
  padding-left: 18px;
}

.check {
  text-decoration: line-through;
}

.el_list {
  position: relative;
}

.removeTodoBtn {
  position: absolute;
  right: 0%;
  top: 15%;
  height: 70%;
  width: auto;
  background-color: red;
}

.regContain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.AuthForm {
  display: contents;
}
.regInput {
  margin-bottom: 5px;
}

.signInBtn {
  height: 21px;
  width: 50%;
  margin-right: 7px;
}
.SignUpBtn {
  height: 21px;
  width: 50%;
}
